
<div class="container-fluid" style="width:90%;min-height: 700px">
    {{# if products}}
    <h1 style="margin-left: auto; margin-right: auto; ">{{category}}</a></h1>
    <div class="row">
        {{!-- Filter option shows --}}
        <div class="col-sm-2 ">
            <Div class="well">


                <label for="priceRange">Price Range:</label>
                <div class="radio">
                    <label><input type="radio" name="priceRange">80K-100K</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="priceRange">60K-79K</label>
                </div>
                <div class="radio ">
                    <label><input type="radio" name="priceRange">30K-59K</label>
                </div>
                <div class="radio ">
                    <label><input type="radio" name="priceRange">10K-29K</label>
                </div>
                <div class="radio ">
                    <label><input type="radio" name="priceRange">1K-9K</label>
                </div>
                <hr>


                <label for="filterByColor">Color:</label>
                <div class="radio">
                    <label><input type="radio" name="filterByColor">Red</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="filterByColor">Blue</label>
                </div>
                <div class="radio ">
                    <label><input type="radio" name="filterByColor">Black</label>
                </div>
                <div class="radio ">
                    <label><input type="radio" name="filterByColor">Gray</label>
                </div>
                <div class="radio ">
                    <label><input type="radio" name="filterByColor">Pink</label>
                </div>
            </Div>



        </div>

        {{!-- products shows --}}
        <div class="col-sm-10 ">
            {{# each products }}
            <div class="row">

                {{# each this}}
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail" style="height: 340px">
                        <a href="/singleProduct/{{ this._id }}"><img style="height: 180px" class="img-responsive" src="{{ this.imagePath }}" alt="{{ this.title }}"></a>
                        <div class="caption">
                           <h5> <strong>{{ this.title}}</strong></h5>
                            <h6 style=>Product ID: 33.098.567 </h6><br>
                            <div class="clearfix">
                                <div class="price pull-left"><h4>TK {{ this.price }} </h4></div>
                                <a href="/singleProduct/{{ this._id }}" class="btn btn-default pull-right" role="button">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/each}}
        </div>
    </div>
     {{ else }}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <h2 id="search-result" onclick="searchPartial()">No Item in found</h2>
        </div>
    </div>
    {{/if}}
</div>