<div class="container" style="width:40%; min-height: 700px">

    <div class="well">

        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="card card-body">
                    <h3 class="text-center">Product Registration</h3>
                    {{!-- start general --}}
                    <form action="/products/registerSave" method="POST" enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" name="title" class="form-control" value="{{title}}" placeholder="Product's name"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="category">Category</label>
                            <input type="text" name="category" class="form-control" value="{{category}}" placeholder="Product's type"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="description">Price</label>
                            <input type="number" name="price" class="form-control" value="{{price}}" placeholder=""
                                required>
                        </div>
                        <div class="form-group">
                            <label for="brand">Brand</label>
                            <input type="text" name="brand" list="brand" class="form-control" value="{{brand}}" placeholder=""
                                required>
                            <datalist id="brand">
                                <option value="Toshiba">
                                <option value="Intel">
                                <option value="ASUS">
                                <option value="MSI"></option>
                            </datalist>
                        </div>
                        <div class="form-group">
                            <label for="model">Model</label>
                            <input type="text" name="model" class="form-control" value="{{model}}" placeholder=""
                                required>
                        </div>
                        <div class="form-group">
                            <label for="color">Color</label>
                            <input type="text" name="color" class="form-control" value="{{color}}" placeholder=""
                                required>
                        </div>
                        <div class="form-group">
                            <label for="warranty">Warranty</label>
                            <input type="text" name="warranty" class="form-control" value="{{warranty}}" placeholder=""
                                required>
                        </div>
                        {{!-- end general --}}
                        {{!-- laptop --}}
                        {{# if laptop}}
                        <div class="form-group">
                            <label for="precessor">Precessor</label>
                            <input type="text" name="precessor" class="form-control" value="{{precessor}}" placeholder=""
                                required>
                        </div>
                        <div class="form-group">
                            <label for="generation">Generation</label>
                            <input type="text" name="generation" class="form-control" value="{{precessor_generation}}"
                                placeholder="" required>
                        </div>
                        <div class="form-group">
                            <label for="clockSpeed">Clock Speed</label>
                            <input type="text" name="clockSpeed" class="form-control" value="{{clockSpeed}}"
                                placeholder="" required>
                        </div>
                        <div class="form-group">
                            <label for="cache">Cache</label>
                            <input type="text" name="cache" class="form-control" value="{{cache}}" placeholder=""
                                required>
                        </div>
                        <div class="form-group">
                            <label for="displayType">Display Type</label>
                            <input type="text" name="displayType" class="form-control" value="{{displayType}}"
                                placeholder="" required>
                        </div>
                        <div class="form-group">
                            <label for="displayResolution">Display Resolution</label>
                            <input type="text" name="displayResolution" class="form-control" value="{{displayResolution}}"
                                placeholder="" required>
                        </div>
                        <div class="form-group">
                            <label for="touch">touch</label>
                            <input type="text" name="touch" list="touch" class="form-control" value="{{touch}}" placeholder=""
                                required>
                            <datalist id="touch">
                                <option value="Yes">
                                <option value="No">
                            </datalist>
                        </div>
                        <div class="form-group">
                            <label for="RAM_type">RAM Type</label>
                            <input type="text" name="RAM_type" class="form-control" value="{{RAM_type}}" placeholder=""
                                required>
                        </div>
                        <div class="form-group">
                            <label for="RAM">RAM</label>
                            <input type="text" name="RAM" class="form-control" value="{{RAM}}" placeholder="" required>
                        </div>
                        <div class="form-group">
                            <label for="storage">Storage</label>
                            <input type="text" name="storage" class="form-control" value="{{storage}}" placeholder=""
                                required>
                        </div>
                        <div class="form-group">
                            <label for="graphicsChipset">Graphics Chipset</label>
                            <input type="text" name="graphicsChipset" class="form-control" value="{{graphicsChipset}}"
                                placeholder="" required>
                        </div>
                        <div class="form-group">
                            <label for="graphicsMemory">Graphics Memory</label>
                            <input type="text" name="graphicsMemory" class="form-control" value="{{graphicsMemory}}"
                                placeholder="" required>
                        </div>
                        <div class="form-group">
                            <label for="opticalDevice">Optical Device</label>
                            <input type="text" name="opticalDevice" class="form-control" value="{{opticalDevice}}"
                                placeholder="" required>
                        </div>
                        <div class="form-group">
                            <label for="networking">Networking</label>
                            <input type="text" name="networking" class="form-control" value="{{networking}}"
                                placeholder="" required>
                        </div>
                        <div class="form-group">
                            <label for="displayPort">Display Port</label>
                            <input type="text" name="displayPort" class="form-control" value="{{displayPort}}"
                                placeholder="" required>
                        </div>
                        <div class="form-group">
                            <label for="audioPort">Audio Port</label>
                            <input type="text" name="audioPort" class="form-control" value="{{audioPort}}" placeholder=""
                                required>
                        </div>
                        <div class="form-group">
                            <label for="USB_Port">USB Port</label>
                            <input type="text" name="USB_Port" class="form-control" value="{{USB_Port}}" placeholder=""
                                required>
                        </div>
                        <div class="form-group">
                            <label for="battery">Battery</label>
                            <input type="text" name="battery" class="form-control" value="{{battery}}" placeholder=""
                                required>
                        </div>
                        <div class="form-group">
                            <label for="weight">Weight</label>
                            <input type="text" name="weight" class="form-control" value="{{weight}}" placeholder=""
                                required>
                        </div>

                        <div class="form-group">
                            <label for="operatingSystem">Operating System</label>
                            <input type="text" name="operatingSystem" class="form-control" value="{{operatingSystem}}"
                                placeholder="" required>
                        </div>
                        <div class="form-group">
                            <label for="others">Others</label>
                            <input type="text" name="others" class="form-control" value="{{others}}" placeholder=""
                                required>
                        </div>
                        <div class="form-group">
                            <label for="partNo">Part No</label>
                            <input type="text" name="partNo" class="form-control" value="{{partNo}}" placeholder=""
                                required>
                        </div>

                        <div class="form-group">
                            <label for="displaySize">Display Size</label>
                            <input type="text" name="displaySize" class="form-control" value="{{displaySize}}"
                                placeholder="" required>
                        </div>
                        {{!-- end laptop --}}

                        {{else}}
                        {{# if mobile}}
                        {{!-- mobile --}}
                        <div class="form-group">
                            <label for="description">mock mobile</label>
                            <input type="text" name="price" class="form-control" value="{{displaySize}}" placeholder=""
                                required>
                        </div>
                        {{!-- end mobile --}}
                        {{else}}
                        {{!-- camera --}}
                        <div class="form-group">
                            <label for="description">mock camera</label>
                            <input type="text" name="price" class="form-control" value="{{displaySize}}" placeholder=""
                                required>
                        </div>
                        {{!-- end camera --}}

                        {{/if}}
                        {{/if}}
                        <div class="form-group">
                            <label for="imagePath">Image</label>
                            <input type="file" name="imagePath" accept="image/png, image/jpeg" />
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>