<div class="container" style="width:40%; min-height: 700px">

    <div class="well">

        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="card card-body">
                    <h3 class="text-center">{{category}} Registration</h3>
                    {{!-- start general --}}
                    <form action="/products/regSave/{{category}}" method="POST" enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" name="title" class="form-control" value="{{title}}" placeholder="Product's name">
                        </div>
                        <div class="form-group">
                            <label for="category">Category</label>
                            <input type="text" name="category" class="form-control" value="{{category}}" placeholder="Product's type">
                        </div>
                        <div class="form-group">
                            <label for="description">Price</label>
                            <input type="number" name="price" class="form-control" value="{{price}}" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="brand">Brand</label>
                            <input type="text" name="brand" list="brand" class="form-control" value="{{brand}}"
                                placeholder="">
                            <datalist id="brand">
                                <option value="Toshiba">
                                <option value="Intel">
                                <option value="ASUS">
                                <option value="MSI">
                            </datalist>
                        </div>
                        <div class="form-group">
                            <label for="model">Model</label>
                            <input type="text" name="model" class="form-control" value="{{model}}" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="color">Color</label>
                            <input type="text" name="color" class="form-control" value="{{color}}" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="warranty">Warranty</label>
                            <input type="text" name="warranty" class="form-control" value="{{warranty}}" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="effectivePixels">effectivePixels</label>
                            <input type="text" name="effectivePixels" class="form-control" value="{{effectivePixels}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="lens">lens</label>
                            <input type="text" name="lens" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="sensorType">sensorType</label>
                            <input type="text" name="sensorType" class="form-control" value="{{sensorType}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="sensorSize">sensorSize</label>
                            <input type="text" name="sensorSize" class="form-control" value="{{sensorSize}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="touchScreen">touchScreen</label>
                            <input type="text" name="touchScreen" list="touch" class="form-control" value="{{touchScreen}}"
                                placeholder="">
                            <datalist id="touch">
                                <option value="Yes">
                                <option value="No">
                            </datalist>
                        </div>
                        <div class="form-group">
                            <label for="screenDots">screenDots</label>
                            <input type="text" name="screenDots" class="form-control" value="{{screenDots}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="imageRes">imageRes</label>
                            <input type="text" name="imageRes" class="form-control" value="{{imageRes}}" placeholder="">

                        </div>
                        <div class="form-group">
                            <label for="imageRatioWH">imageRatioWH</label>
                            <input type="text" name="imageRatioWH" class="form-control" value="{{imageRatioWH}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="videoRes">videoRes</label>
                            <input type="text" name="videoRes" class="form-control" value="{{videoRes}}" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="videoFormat">videoFormat</label>
                            <input type="text" name="videoFormat" class="form-control" value="{{videoFormat}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="playbackZoom">playbackZoom</label>
                            <input type="text" name="playbackZoom" class="form-control" value="{{playbackZoom}}"
                                placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="iso">iso</label>
                            <input type="text" name="iso" class="form-control" value="{{iso}}" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="isoMaximum">isoMaximum</label>
                            <input type="text" name="isoMaximum" class="form-control" value="{{isoMaximum}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="shutterSpeed">shutterSpeed</label>
                            <input type="text" name="shutterSpeed" class="form-control" value="{{shutterSpeed}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="autofocusAssistLamp">autofocusAssistLamp</label>
                            <input type="text" name="autofocusAssistLamp" class="form-control" value="{{autofocusAssistLamp}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="manualFocus">manualFocus</label>
                            <input type="text" name="manualFocus" class="form-control" value="{{manualFocus}}"
                                placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="numberOfFocusPoints">numberOfFocusPoints</label>
                            <input type="text" name="numberOfFocusPoints" class="form-control" value="{{numberOfFocusPoints}}"
                                placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="liveView">liveView</label>
                            <input type="text" name="liveView" class="form-control" value="{{liveView}}" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="viewfinderType">viewfinderType</label>
                            <input type="text" name="viewfinderType" class="form-control" value="{{viewfinderType}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="viewfinderCoverage">viewfinderCoverage</label>
                            <input type="text" name="viewfinderCoverage" class="form-control" value="{{viewfinderCoverage}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="builtinflash">builtinflash</label>
                            <input type="text" name="builtinflash" class="form-control" value="{{builtinflash}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="flashRange">flashRange</label>
                            <input type="text" name="flashRange" class="form-control" value="{{flashRange}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="externalFlash">externalFlash</label>
                            <input type="text" name="externalFlash" class="form-control" value="{{externalFlash}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="flashXSyncSpeed">flashXSyncSpeed</label>
                            <input type="text" name="flashXSyncSpeed" class="form-control" value="{{flashXSyncSpeed}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="faceDetection">faceDetection</label>
                            <input type="text" name="faceDetection" class="form-control" value="{{faceDetection}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="redEyeDetection">redEyeDetection</label>
                            <input type="text" name="redEyeDetection" class="form-control" value="{{redEyeDetection}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="digitalZoom">digitalZoom</label>
                            <input type="text" name="digitalZoom" class="form-control" value="{{digitalZoom}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="microphone">microphone</label>
                            <input type="text" name="microphone" class="form-control" value="{{microphone}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="memoryType">memoryType</label>
                            <input type="text" name="memoryType" class="form-control" value="{{memoryType}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="usb">usb</label>
                            <input type="text" name="usb" class="form-control" value="{{usb}}" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="hdmiPort">hdmiPort</label>
                            <input type="text" name="hdmiPort" class="form-control" value="{{hdmiPort}}" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="wirelessTechnology">wirelessTechnology</label>
                            <input type="text" name="wirelessTechnology" class="form-control" value="{{wirelessTechnology}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="remoteControl">remoteControl</label>
                            <input type="text" name="remoteControl" class="form-control" value="{{remoteControl}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="battery">battery</label>
                            <input type="text" name="battery" class="form-control" value="{{battery}}" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="bodyDimension">bodyDimension</label>
                            <input type="text" name="bodyDimension" class="form-control" value="{{bodyDimension}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="weight">weight</label>
                            <input type="text" name="weight" class="form-control" value="{{weight}}" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="specialty">specialty</label>
                            <input type="text" name="specialty" class="form-control" value="{{specialty}}" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="compatibleLenses">compatibleLenses</label>
                            <input type="text" name="compatibleLenses" class="form-control" value="{{compatibleLenses}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="productRange">productRange</label>
                            <input type="text" name="productRange" class="form-control" value="{{productRange}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="releaseDate">releaseDate</label>
                            <input type="text" name="releaseDate" class="form-control" value="{{releaseDate}}"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="imagePath">Image</label>
                            <input type="file" name="imagePath" accept="image/png, image/jpeg" />
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>